<div class = "container__small-card">
    <div class = "container__small-card-content">
        <div class = "small-card__image">
            <img src="https://p2.trrsf.com/image/fget/cf/1200/900/middle/images.terra.com/2023/02/18/919177108-brasileirao-a.jpg" 
            alt="">
        </div>
        <div class = "small-card__title">
            <h1><a href=""> Vamos testar esse titulo Ficou bom nesse Layout ou Nao </a></h1>
        </div>
    </div>
    <div class = "container__small-card__separator">
        <hr/>
    </div>
</div>