.container__content {
   
    width: 100%;
    height: 100vh;

    display:flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

.content__cover > img { 
    border: solid rgb(145, 145, 145) 5px;
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    height: 300px;

}

.content__description{
    margin-top: 15px;
}
.content__description > p{
    margin-top: 20px;
   color: rgb(193, 193, 193);
}